<section>
    <div class="container mt-4">
        <div class="row">

            <div class="col-md-6">
                <h2 class="text-center">Edit Product</h2>
                <form action="/admin/api/edit-product?id={{product._id}}" method="post" enctype="multipart/form-data">

                    <div class="form-group required">
                        <label class="control-label" for="name">Name</label>
                        <input name="name" type="text" class="form-control mb-2" placeholder="Product Name"
                            value="{{product.name}}" required>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="category">Category</label>
                        <input name="category" type="text" class="form-control mb-2" placeholder="eg: Mobile"
                            value="{{product.category}}" required>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="brand">Brand</label>
                        <input name="brand" type="text" class="form-control mb-2" placeholder="eg: Apple"
                            value="{{product.brand}}" required>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="price">Price</label>
                        <input name="price" type="number" class="form-control mb-2" placeholder="eg: 34000"
                            value="{{product.price}}" required>
                    </div>


                    <div class="form-group required mt-2 mb-4">
                        <div class="container">
                            <div class="row"><label class="control-label" for="image">Image</label></div>
                            <div class="row align-items-center">
                                <input type="file" name="image" onchange="imageView{event}" required>
                                <img id="imgView" src="/images/product-images/{{product._id}}.jpg"
                                    alt="{{product.name}} image" style="height: 100px; object-fit: contain">
                            </div>

                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="control-label" for="description">Description</label>
                        <textarea name="description" class="form-control mb-2" placeholder="Product Description"
                            required>{{product.description}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-success mt-3 mb-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>